.edit-container {
    background-color: rgb(151, 149, 149);
    padding: 10px;
    margin: 0 auto;
    max-width: 900px;
    border-radius: 20px;
    border: solid 0.3px;
}

.edit-note {
    text-align: center;
}

.form-note {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.form-info {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.form-info textarea {
    resize: none;
}

.edit-note__btn {
    display: flex;
    justify-content: space-between;
}