.note-card {
    background-color: rgb(196, 196, 196);
    border: solid 0.3px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.note-nav {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-nav__date {
    display: flex;
    column-gap: 10px;
}

.note-nav__btn {
    display: flex;
    column-gap: 2px;
}

.note-btn {
    padding: 5px 10px;
    border-radius: 5px;
    border: solid 0.3px;
}

.container-note {
    display: flex;
    max-width: 880px;
}

.container-note p {
    background-color: rgb(148, 148, 148);
    padding: 5px 15px;
    margin-left: 30px;
    width: 580px;
    overflow: hidden;
    word-break: break-all;

    border-radius: 5px;
    border: solid 0.3px;

    font-style: italic;
}